.c .img {
    width: 140px;
    height: fit-content;
}

.c .info {
    min-width: 300px;
    max-width: min(calc(100% - 160px), 800px);
}

.c .name {
    margin: 0 8px;
    text-align: center;
}

.c .author {
    margin: 0 8px;
    text-align: right;
}

.c .author > span {
    font-weight: bold;
}

.c .tags {
    margin: 0 8px;
}

.c .sign {
    margin: 0 8px;
}

.c .intro {
    margin: 0 8px;
    white-space: pre-wrap;
}

.affix {
    background-color: white;
}
