.container {
    height: 100%;
}

.header {
    align-items: center;
}

.name {
    align-items: center;
    display: flex;
    margin: 8px!important;
}

.nameContainer.editing .name {
    width: 100%;
    left: 0;
    top: 0;
}

.nameContainer.editing .name textarea:global(.ant-input) {
    padding-right: 40px;
    width: 100%;
}

.nameSave {
    position: absolute;
    right: 14px;
    cursor: pointer;
    color: gray;
}

.nameSave:hover {
    color: #4096ff;
}

.nameClose {
    position: absolute;
    right: 34px;
    cursor: pointer;
    color: gray;
}

.nameClose:hover {
    color: #4096ff;
}

.nameContainer {
    position: relative;
    align-items: center;
}

.nameContainer.editing {
    min-width: 200px;
    width: calc(100% - 200px);
    max-width: 500px;
}

.editor {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.action {
    margin-left: auto;
    align-items: center;
}

.chapterSave {
    color: gray;
    cursor: pointer;
    margin: 8px;
}

.chapterSave:hover {
    color: #4096ff;
}

.chapterSave.disabled {
    color: lightgray;
    cursor: not-allowed;
}

.chapterSave.disabled:hover {
    color: lightgray;
}

.reset {
    color: gray;
    cursor: pointer;
    margin: 8px;
}

.reset:hover {
    color: #4096ff;
}

.showHistory {
    color: gray;
    cursor: pointer;
    margin: 8px;
}

.showHistory:hover {
    color: #4096ff;
}

.showHistory.disabled {
    color: lightgray;
    cursor: not-allowed;
}

.showHistory.disabled:hover {
    color: lightgray;
}

.history .item {
    width: 100%;
    margin: 4px 0;
}

.history .current {
    color: #4096ff;
    margin-left: auto;
}
