.c {
    position: relative;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cl {
    overflow-y: auto;
    flex: 1;
}

.ch {
    margin: 4px 8px;
    width: min(calc((100% - 40px) / 4), 300px);
}

.chone {
    margin: 4px 8px;
    width: 100%;
}

.action {
    margin-left: auto;
}

.saved {
    margin-left: auto;
    color: green;
}

.open {
    color: gray;
    cursor: pointer;
}

.open:hover {
    color: inherit;
}

.current {
    position: absolute;
    right: 30px;
    bottom: 50px;
    padding: 4px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}
